.header{
    width: 100%;
    position: fixed;
    background: $black;
    left: 0;
    top: 0;
    padding: 20px 0;
    z-index: 10;
    transition: all 0.1s ease-in-out;
    .fixed{
        opacity: 0;
        transform: translate(-50%);
    }
    .active{
        transition: all 0.4s ease-in-out;
        background: rgb(63, 61, 61);
        padding: 20px 0;
        opacity: 1;
        transform: none;
        z-index: 2;
    }
    .row{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

.logo{
    display: inline-block;
    border: 2px solid $border_color;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 65px 0 65px;
    cursor: pointer;
      a{
          color: $link_color;
      }
}
.nav-bar{
       opacity: 0;
       position: absolute;
        color: $white;
        top: 22px;
        right: 20px;
        font-size: 30px;
       

     }
 .menu{
    ul{
        display: flex;
        justify-content: end;
        li{
            margin: 0 10px;
            position: relative;
            opacity: 1;
            &:hover::after{
                    width: 100%;
                }
         // underline css code
            &::after{
                content: "";
                height: 3px;
                width: 0;
                background: $link_hover;
                position: absolute;
                left: 0;
                bottom: -10px;
                transition: 0.5s all;
            }
            a{
              @include a;
              
                
             
            }
             .activ{
                  color: $link_hover;
              }

        }
    }
}

}
// --------------------Small screens---------------------
@media screen and (max-width: 992px){
    .header{
        .nav-bar{
          opacity: 1;
          
       }
       .menu{
           ul{
               
               li{
                   opacity: 0;
               }
               
           }
       }
    }
    
}
// --------------------Mobile devices---------------------
@media screen and (max-width: 480px){
    .header{
        .nav-bar{
          opacity: 1;
          
       }
       .menu{
           ul{
               li{
                   opacity: 0;
               }
               
           }
       }
    }
    
}